<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <h3>Freelancehunt projects</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="app">
                        <budget-chart :chart-data="chartData"></budget-chart>

                        <label for="skill-select">Category:</label>
                        <select v-model="selectedSkills" id="skill-select">
                            <option></option>
                            <option v-for="option in skills" :value="option.id">
                                {{ option.name }}
                            </option>
                        </select>

                        <table class="table">
                            <thead>
                            <tr>
                                <td>Project name</td>
                                <td>Budget</td>
                                <td>Employer</td>
                            </tr>
                            </thead>
                            <tr v-for="project in projects" :key="project.id">
                                <td><a :href="project.url" target="_blank">{{ project.name }}</a></td>
                                <td>{{ project.budget.amount }} {{ project.budget.currency }}</td>
                                <td>{{ getEmployer(project.employer) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] })

    Vue.component('BudgetChart', {
        template: `<div ref="chart" id="piechart" style="width: 900px; height: 500px;"></div>`,
        props: ['chartData'],
        data () {
            return {
                googleChartsLoaded: false,
            }
        },
        methods: {
            drawChart () {
                if (!this.googleChartsLoaded) {
                    return
                }
                const dataTable = google.visualization.arrayToDataTable(this.chartData, false)
                const options = { title: 'Projects Budget' }
                const chart = new google.visualization.PieChart(this.$refs.chart)
                chart.draw(dataTable, options)
            }
        },
        mounted () {
            google.charts.setOnLoadCallback(() => {
                this.googleChartsLoaded = true
                this.drawChart(this.chartData)
            })
        },
        watch: {
            chartData () {
                this.drawChart(this.chartData)
            },
        },
    })

    const config = {
        apiUrl: window.location.href,
    }

    new Vue({
        el: '#app',
        data () {
            return {
                projects: [],
                skills: [],
                selectedSkills: [],
            }
        },
        created () {
            this.getProjects()
            this.getSkills()
        },
        methods: {
            async getProjects (skills) {
                const skillsIds = Array.isArray(skills) ? skills.join(',') : skills
                const filter = skillsIds ? `?skillsIds=${skillsIds}` : ''

                this.projects = await (await fetch(`${config.apiUrl}projects${filter}`)).json()
            },
            async getSkills () {
                this.skills = await (await fetch(`${config.apiUrl}skills`)).json()
            },
            getEmployer (employer) {
                return employer ? `${employer.name} ${employer.login}` : ''
            },
        },
        computed: {
            chartData () {
                let rangeLess500Count = 0
                let rangeFrom500To1000Count = 0
                let rangeFrom1000To5000Count = 0
                let rangeMore5000Count = 0

                this.projects.forEach((project) => {
                    if (project.budget.amount < 500) {
                        rangeLess500Count++
                    }
                    if (project.budget.amount >= 500 && project.budget.amount < 1000) {
                        rangeFrom500To1000Count++
                    }
                    if (project.budget.amount >= 1000 && project.budget.amount < 5000) {
                        rangeFrom1000To5000Count++
                    }
                    if (project.budget.amount >= 5000) {
                        rangeMore5000Count++
                    }
                })

                return [
                    ['budget', 'count'],
                    ['<500', rangeLess500Count],
                    ['500-1000', rangeFrom500To1000Count],
                    ['1000-5000', rangeFrom1000To5000Count],
                    ['>5000', rangeMore5000Count],
                ]
            },
        },
        watch: {
            selectedSkills () {
                this.getProjects(this.selectedSkills)
            },
        },
    })
</script>
</body>
